<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Component</title>
    <style>
        body {
            margin: 0;
        }
        header {
            position: fixed;
            width: 100vw;
            text-align: center;
            color: #fff;
            text-shadow: 0 0 14px #000;
            background: url(./chinguraptors.jpg);
            background-attachment: fixed;
            background-position: center;
            background-size:contain;
            background-repeat: no-repeat;
        }       
    </style>
</head> 
<body>
    <header>
        <h2>Voyage 48 Team 4</h2>
        <h1>The Chingu Raptors</h1>      
        </div>
    </header>
</body>
</html>