@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.section-intro {
    background-size: cover;
    padding: 25rem 0;
    margin-top: -20vh;
    text-shadow: 1px 1px 3px $color-white;
    @include respond(tab-port) {
      padding: 20rem 0;
    }
  }