@import "../../../styles/components/bg-video";
@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/variables";
html.desaturate{
  filter: saturate(0);
}
.header {
    block-size: 75vh;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 55vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 55vh, 0 100%);
  
    @include respond(phone) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    }
  
    &__logo-box {
      position: absolute;
      inset-block-start: 2rem;
      inset-inline-start: 2rem;
    }
  
    &__logo {
      block-size: 10em;
      &:hover {
        transform: rotate(1deg) scale(1.01);
        transition: all 0.3s;
        animation: hue-rotate 120s infinite;
      }
    }
  
    &__text-box {
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    & .heading-primary::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($color-primary, 0.27);
        border-radius: 16px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.1px);
        -webkit-backdrop-filter: blur(7.1px);
        border: 1px solid rgba($color-secondary, 0.85);
        transform: skewY(4deg);
        transform-origin: top left;
        z-index: -1;
        margin-top: -8rem;
      }
  }
