.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index:-1;
    opacity: .75; 
    overflow: hidden;   
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 55vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 55vh, 0 100%);
    &__content {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}