.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position:absolute;
        z-index:10;
        outline-offset: 2rem;
        transition: all .2s;

        &--p1 {
            left: 0;
            top:-2rem;
            transform:rotate(3deg);
        }

        &--p2 {
            right: 1rem;
            top:2rem;
            transform:rotate(2deg);
        }

        &--p3 {
            left: 20%;
            top:6rem;
            transform:rotate(-3deg);
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            cursor:pointer;
            transform: rotate(0) scale(1.25) translate(-2rem,-3rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index:20;
        }
        
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}