.hidden{
  display: none !important;
}

#dino-list, .close-btn {
  cursor: pointer;
}

section#dino-index{
  margin-block-end: 5em;
}
.dinosaur-modal{
  position: fixed;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-end: 0;
  inset-inline-start: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
#map {
block-size: 33vh;
inline-size: 100%;
}
.modal-container{
  inline-size: 80%;
  min-inline-size: 500px;
  block-size: 80%;
  background: linear-gradient(45deg, #009cff70, #ff940075);
  box-shadow: 0 0 12px 9px #ff3b004d;
  border-radius: 10px;
  overflow-y: auto;
  padding: 1em;
  color: #dedede;
}

footer {
  color: #fff;
  transition: all 0.5s;
  background: linear-gradient(45deg, #00c44b8a, #19661d);
  position: fixed;
  inset-inline-start: 0;
  inset-block-end: 0;
  inline-size: 100%;
  text-align: center;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover {
  color: #ffb900;
  text-decoration: underline;
}
span.close-btn {
  display: flex;
  font-size: 3em;
  justify-content: flex-end;
}
.heart {
background: url(../assets/chinguheart.png);
display: inline-block;
block-size: 2em;
inline-size: 2em;
background-size: contain;
background-repeat: no-repeat;
position: relative;
inset-block-start: 0.6em;
}

.shift {
  transition: all 0.5s;
}
.shift-left {
  transform: translate(-50vw, 0);
}
.shift-right {
  transform: translate(50vw, 0);
}
.shift-down {
  transform: translate(0, 50vh);
}
.shift-up {
  transform: translate(0, -50vh);
}