/* @import "nav.css"; */

:root {
  --primary-color: hsl(111.29deg 65.4% 66.29%);
  --secondary-color: hsl(85.65deg 92% 70.59%);
}

.hidden {
  display: none !important;
}

#dino-list,
.close-btn {
  cursor: pointer;
}

.dino-of-the-day{
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 90%;
  margin: auto;
  background-color: fbfbfb;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
section#dino-index {
  margin-bottom: 5em;
}



#map {
  block-size: 30em;
  filter: drop-shadow(0 0 10px #000000a8);
}

#dino-map {
  border-radius: 4% 3% 2% 1%;
  block-size: calc(60vh - 5em);
  width: 80vw;
  height: 80vh;
}

#dino-map .mapboxgl-ctrl-top-left {
  overflow-y: auto;
  inline-size: 33%;
  padding: 1em;
  color: #0e0e0e;
  border-radius: 8px 13px 19px 38px;
  box-shadow: 1px 3px 20px #000000a8;
  background: linear-gradient(45deg,#dadada83,#e4e4e463);
  overflow: hidden;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid #6e6e6e;
}
#dino-map #dino-map h3 {
  color: #000;
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
}


.shift {
  transition: all 0.5s;
}

.shift-left {
  transform: translate(-50vw, 0);
}
.shift-right {
  transform: translate(50vw, 0);
}
.shift-down {
  transform: translate(0, 50vh);
}
.shift-up {
  transform: translate(0, -50vh);
}


/* base font size */
html {
  font-size: 16px;
}

h2 {
  font-size: 2em;
  text-align: center;
}

h5 {
  font-size: 1.25em;
}

/* mobile index list styles */
#dino-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

li {
  width: 90%;
}

li img {
  width: 100%;
  border-radius: 20px;
}

.dino {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  background-color: fbfbfb;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
  }

.dino:hover {
  scale: 1.1;  
  transition: 0.1s all;
}

.dino-info__name {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: greenyellow;
  padding: 1rem;
}




/* media queries for diffrent size screens  */

@media (min-width: 768px) {
  /* screen at 768px - 874px index list styles */

}

@media(min-width: 874px) {

  /* screen at 874px and up index list styles */


  h2 {
    font-size: 2.125em;
  }

  h5 {
    font-size: 1.5em;
  }

  #dino-index {
    column-count: 3;
    column-gap: 10px;
  }

  #dino-list {
    padding: 0;
  }

  li {
    margin: 20px;
    break-inside: avoid-column;
    width: 95%
  }

  .dino-info {
    font-size: 1.125em;
  }

  .species-type {
    font-size: 1.125em;
  }

}

@media(min-width: 1200px) {
  /* screen at 1024px and up index list styles */
  #dino-index {
    column-count: 4;
  }
}
.fade {
  transition: all 0.5s;
  opacity: 0;
}

.fade-in {
  transition: all 0.5s;
  opacity: 1;
}

